.icon-dashboard{
     background-position: -24px 9px !important;;
}
.icon-user{
    background-position: -24px -416px !important;
}
.icon-book-room{
    background-position: -24px -33px !important;
}
.icon-room{
    background-position: -24px -73px !important;
}
.icon-employ {
    background-position: -24px -450px !important;
}
.icon-device{
    background-position: -24px -347px !important;
}
.icon-sale{
    background-position: -24px -193px !important;
}
.icon-fund{
    background-position: -24px -114px !important
}
.icon-payment{
    background-position: -24px -154px !important;
}
.icon-setting{
    background-position: -24px -313px !important;
}
.icon-list{
    background-position: -24px -232px !important;
}
.icon-report{
    background-position: -24px -273px !important;
}
.icon-back{
    float: right;

    margin-top: 16px;
    color: #fff;
}
.icon-forward{
    float: left;
    margin-top: 16px;
    color: #fff;
}
.enactive-sidebar{
    width: 40px!important;
    min-width: 40px!important;
    transition: 0.4s ease-in-out;
}
.icon-sidebar-foot{
    width: 32px;
    height: 24px;
    cursor: pointer;
}
.main-expand{
    width: calc(100% - 40px)!important;
}
.icon-down{
    padding-top: 6px;
    margin-left: 8px;
}
.panel-top {
    height: 36px;
    /* background: #026b97; */
    background: #45ADA8;
}
.toolbar {
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    /* position: absolute; */
}
.toolbar-item {
    height: 36px;
    line-height: 37px;
    align-items: center;
    border-right: 1px solid #2F9599;
    padding: 0 8px;
}
.icon-add {
    background: url(/icon/common-icon.png) no-repeat;
    background-position: -2px -125px;
}
.icon-double {
    background: url(/icon/common-icon.png) no-repeat;
    background-position: -977px -126px;
}
.icon-view {
    background: url(/icon/common-icon.png) no-repeat;
    background-position: -1602px -125px;
}
.icon-edit {
    background: url(/icon/common-icon.png) no-repeat;
    background-position: -78px -200px;
}
.icon-delete {
    background: url(/icon/common-icon.png) no-repeat;
    background-position: -1076px -125px;
}
.icon-refresh {
    background: url(../../icon/common-icon.png) no-repeat;
    background-position: -876px -125px;
}
.toolbar-icon {
    margin: -3px 4px;
    width: 16px;
    height: 18px;
    display: inline-block;
}
.toolbar-item:hover {
    cursor: pointer;
    background: #83AF9B !important;
}
.date-picker-content{
    display: flex;
    font-size: 14px;
}
.date-picker-content input{
    font-size: 14px;
    /* border: 1px solid #ccc; */
    /* border-radius: 3px; */
}
label.label-date-time{
    margin-top: 13px;
    margin-left: 8px;
    margin-right: 8px;
}

element.style {
}
button.button-search {
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #026b97;
    height: 40px;
    padding: 8px;
    margin-left: 24px;
    background: white;
    color: #026b97;
    border-radius: 3px;
    border: 1px solid #026b97;
    width: 125px;
    font-weight: 600;
    position: relative;
}
.search-by-date{
    padding: 8px 0;
}
.icon-load {
    background: url(/icon/common-icon.png) no-repeat;
    background-position: -601px -128px;
    width: 16px!important;
    height: 16px!important;
    position: absolute;
    left: 4px;
}
table.table-data-content {
    width: 100%;
}
table.table-data-content thead tr{
    height: 32px;
    background: #ccc;
}
.header-table{
    height: 32px;
    background: #ccc;
    text-align: center;
    font-weight: 600;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.disable-toolbar{
    opacity: 0.5;
    pointer-events: none;
}
.border-red{
    border: 1px solid #ff4d4f!important;
}
.border-none{
    border-color: initial!important;
}
.disable-button{
    color: rgba(0, 0, 0, 0.25)!important;
    background-color: #f5f5f5!important;
    border-color: #d9d9d9!important;
    text-shadow: none!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    cursor: not-allowed!important;
}
.valid{

}