table{
    width: 100%;
    /* table-layout: fixed; */
    /* border-collapse: collapse; */
    border-collapse: collapse;
}

.fixed_header tbody{
  display:block;
  width: 100%;
  overflow: auto;
  height: 300px;
}

.fixed_header thead tr {
   display: block;
}

.header-table {
    background: #f0f0f0;
}
.header-table th {
    border-right: 1px solid #d0d0d0;
    border-right: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
}

table td {
  padding: 8px;
  text-align: left;
  /* width: 200px; */
  border-right: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
}
table tr:nth-child(2n+1){
    background: #f6f6f6;
}
table tr:hover{
    background: #d1dee9;
    cursor: pointer;
}
.active-row{
    color: #212121 !important;
    background-color: #c3ecff !important;
}